<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Bakery</a>
        </div>
      </nav>
    <div class="container">
        <div class="row">
            {% for item in items %}
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{item.image}}" class="card-img-top" alt="{{item.name}}">
                    <div class="card-body">
                      <h5 class="card-title"><a href="{% url 'item_detail' item_id=item.id%}">{{item.name}}</a></h5>
                      <p class="card-text">{{item.price}} KD</p>
                      <img src="{{item.category.image}}" class="card-img-top w-25 rounded-circle" alt="{{item.category.name}} img">
                      <p class="card-text fw-bold">{{item.category.name}}</p>
                    </div>
                  </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>